* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

body {
  background: #f6f7f8;
  color: #333;
}
/* This is where I style navbar */
.navbar-menu {
  display: flex;
  align-items: center;

  gap: 50px;
  padding: 0 20px;
  width: 100%;
  height: 72px;
  background: #fff;
  border-radius: 70px;
  margin: 20px auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.menu-details {
  display: flex;

  justify-content: space-between;
  width: 100%;
}
.logo {
  top: 30px;
  left: 50px;
  width: 211px;
  height: 48px;
}
.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-middle {
  display: flex;
  align-items: center;

  gap: 10px;
  justify-content: space-between;
  top: 23px;
  left: 473px;
  width: 663px;
  height: 63px;
}
.overview {
  top: 45px;
  left: 498px;
  width: 70px;
  height: 19px;
}
.paitents {
  top: 45px;
  left: 649px;
  width: 57px;
  height: 19px;
}
.schedule {
  top: 45px;
  left: 785px;
  width: 70px;
  height: 19px;
}
.message {
  top: 45px;
  left: 916px;
  width: 70px;
  height: 19px;
}
.transaction {
  top: 45px;
  left: 1047px;
  width: 110px;
  height: 19px;
}

.nav-right {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  top: 32px;
  left: 1309px;
  width: 300px;
  height: 64px;
}
.doctor-account {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
div > .vertical-bar {
  font-size: 35px;
  color: #c5c9cd;
}
.doctor_name {
  color: #072635;
  text-align: left;
  font-weight: 700;
  top: 35px;
  left: 1361px;
  width: 150px;
  height: 19px;
}
.occupation {
  color: #707070;
  font-size: 15px;
  top: 54px;
  left: 1361px;
  width: 150px;
  height: 19px;
}
.menu-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.overview-btn,
.paitents-btn,
.schedule-btn,
.message-btn,
.credit-card-btn {
  top: 45px;
  left: 400px;
  display: flex;
  align-items: center;
  gap: 10px;

  width: 110px;
  height: 20px;
}

.paitents-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #01f0d0 0% 0% no-repeat padding-box;
  border-radius: 41px;
  width: 122px;
  height: 41px;
  justify-content: center;
}

/* This is where I style body page like chart patients name information, ect */
.body-page {
  display: grid;
  grid-template-columns: 300px 1fr 350px;
  gap: 20px;
  margin: 20px;
  height: 1054px;
}

.card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  height: calc(100vh - 150px);
}
/* This is where I style patients page  */

.patient-photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.patients-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  width: 100%;
  height: 80px;
  overflow: hidden;
}

.search-icon {
  width: 18px;
  height: 18px;
}
.patients-title {
  width: 100px;
  height: 50px;
}
.patient-lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.patients-info-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 0px;
  gap: 10px;
  width: 100%;
  height: 60px;
  overflow: hidden;
}
.patient-name-details {
  flex: 1;
}
.patients-name {
  height: 1054px;
  background-color: #fff;
}
.main-headers {
  top: 122px;
  left: 18px;
  max-width: 100%;
  height: 1054px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 16px;
  opacity: 1;
  padding: 20px 20px;
  overflow: auto;
  scrollbar-width: thin;
}

.patients-title {
  font-size: 25px;
}

.horizontal-threedot-icon {
  margin-left: auto;
  cursor: pointer;
}
/* scrollbar style */
.patient-lists::-webkit-scrollbar {
  width: 10px;
}

/* Style chart diagram */
.diagram-personal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.diagram-personal h3 {
  margin-bottom: 15px;
}

.diagram-graph {
  top: 215px;
  left: 437px;
  width: 726px;
  height: 298px;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px 10px;
  background: #f4f0fe 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}
.diagram-title {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  margin-bottom: 15px;
}
.title-graph {
  text-align: left;
  font: normal normal bold 18px/24px Manrope;
  letter-spacing: 0px;
  color: #072635;
  text-transform: capitalize;
  margin: 10px 10px;
}

.diagnosis-history {
  flex: 2;
}
select {
  background-color: #f4f0fe;
  border: none;
}
.healthcare-chart {
  width: 100%;
  height: 200px;
}
.board-chart {
  display: flex;
}
.health-summary {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 149px;
  height: 84px;
}
.summary-diastolic {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 149px;
  height: 84px;
}
.health-record {
  width: 208px;
  height: 201px;
}
.summary {
  display: flex;
  align-items: center;
  gap: 5px;
}
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}
.pink {
  background-color: #e66fd2;
}
.purple {
  background-color: #8c6fe6;
}
.summary h2 {
  margin: 5px 0;
  font-size: 22px;
}

.diagnostic-list {
  flex: 1;
}

.personal-record {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.personal-details {
  width: 100%;
  height: 100%;
  padding: 20px 0px;
}
.lab-results {
  width: 367px;
  height: 296px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 15px 16px;
}
.card {
  height: 900px;
}

/* This is below chart diagram */
.inside-body-part {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.lungs {
  background-color: #e0f3fa;
  top: 533px;
  left: 437px;
  width: 228px;
  height: 242px;
  border-radius: 12px;
  padding: 20px 20px;
}
.temperature {
  background-color: #ffe6e9;
  top: 533px;
  left: 686px;
  width: 228px;
  height: 242px;
  border-radius: 12px;
  padding: 20px 20px;
}
.heart {
  background-color: #ffe6f1;
  top: 533px;
  left: 935px;
  width: 228px;
  height: 242px;
  border-radius: 12px;
  padding: 20px 20px;
}
.low-and-high {
  font-size: 15px;
}

/* This is where I style personal information detail */
.image-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.personal-details {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
}
.profile-age {
  font-weight: 700;
  font-size: 20px;
}
.dob-detail {
  display: flex;
  gap: 20px;
}
.gender-detail {
  display: flex;
  gap: 20px;
}
.gender-icon {
  padding: 10px 0px;
}
.main-gender {
  font-weight: 700;
}
.patients-gender {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.patients-dateOfBirth {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.detail-dateOfBirth {
  font-weight: 700;
}

.contact-info-detail {
  display: flex;
  gap: 20px;
}
.patients-contactInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-phoneNumber {
  font-weight: 700;
}

.emergency-info-detail {
  padding: 10px 0px;
  display: flex;
  gap: 20px;
}
.patients-emergencyInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-emergencyPhone {
  font-weight: 700;
}
.insurance-info-detail {
  display: flex;
  gap: 20px;
}
.patients-insurance {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-insurance {
  font-weight: 700;
}
.showAll-btn {
  width: 220px;
  height: 41px;
  text-align: center;
  border-radius: 41px;
  background-color: #01f0d0;
  border: none;
  font-weight: 600;
}
.showAll-Info {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.main-image-profile {
  top: 140px;
  left: 1299px;
  width: 200px;
  height: 200px;
}
.profile-name {
  text-align: center;
  top: 364px;
  left: 1317px;

  height: 33px;
}

.card h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #222;
}

/* This is where I style Diagnostic List */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: none;
  font-size: 15px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  color: #333;
  background: #fff;
  border-radius: 24px;
}

thead {
  background-color: #f6f7f8;
}

th {
  text-align: left;
  padding: 15px 16px;
  font-weight: 700;
}
td {
  padding: 15px 16px;
  border-bottom: 1px solid #f0f0f0;
}
tr:last-child td {
  border-bottom: none;
}
/* This is where I style lab result page */
.lab-results {
  top: 880px;
  left: 1215px;
  height: 300px;
  width: 367px;
}
.details-lab-result {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.result-description {
  display: flex;
  justify-content: space-between;
  width: 315px;
  height: 40px;
}
.downloadIcon {
  width: 20px;
  height: 20px;
}
.lab-title {
  padding: 15px 0px;
  font-size: 30px;
}

@media (max-width: 1024px) {
  .body-page {
    grid-template-columns: 1fr;
  }
}
